# Dependencies
node_modules/
# Production
dist/
build/
# Frameworks
.next/
.nuxt/
.output/
.vite/
.parcel-cache/
.turbo/
.cache/
# Test & coverage
coverage/
# Logs & temp
*.log
*.tmp
*.swp
*.swo
# OS junk
.DS_Store
Thumbs.db
desktop.ini
# Env
.env.local
.env.*.local
.env
.env.deploy
